body {
    background: linear-gradient(to bottom, #6e7e85 0%, #89afaf, #b7cece 100%);
}

/*header {
	height: 70px;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;*/
}

div {
	display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    /*background-color: #6E7E85;*/
}

h1 {
	font-family: 'Satisfy', cursive;
	color: #1c0f13;
	text-align: left;
	border-bottom: 4px double #4f2a36;
}

h2 {
	font-family: 'Courgette', cursive;
	color: #1c0f13;
	text-align: left;
	border-bottom: 3px dotted #753e6c;
}

p {
	font-family: 'Lato', sans-serif;
	text-align: justify;

}

button {
	background-color: #BBBAC6;
	color: #1c0f13;
	font-family: 'Lato', sans-serif;
}

form {
	background-color: #d1dfdf;
}

.navWrapper {
    background-color: #6E7E85;
    overflow: hidden;
}

.navWrapper a {
	float: left;
	display: block;
    color: #B7CECE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: 'Satisfy', cursive;
	font-size: 30px;
}

.navWrapper a:hover {
	background-color: #BBBAC6;
	color: #1c0f13;
}

.bordered {
	border-width: 6px;
	border-color: #f1fb85;
	border-style: dotted dashed solid double;
	margin-top: 15px;
	margin-bottom: 15px;
}

.container {

}

.row {

}

.flex-container {
	display: flex;
	flex-direction: row;
}

.col-sm {

}

#image { 
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px; 
    margin-bottom: 15px;
}

#about {
	background-color: #95b7b7;
	margin-top: 15px;
	margin-bottom: 15px;
}

#name {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

/*Trying a different way of doing columns*/
#summary {
	margin-left: auto;
	margin-right: auto;
}

#welcome {

}

#aboutMe {


}

#skills {
	background-color: #a1bfbf;
	margin-top: 15px;
	margin-bottom: 15px;

}

#skillsH {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

#projects {
	background-color: #adc7c7;
	margin-top: 15px;
	margin-bottom: 15px;

}

#projectH {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;	
}

#resume {
	background-color: #b9cfcf;
	margin-top: 15px;
	margin-bottom: 15px;

}

#resumeH {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

#blog {
	background-color: #c5d7d7;
	margin-top: 15px;
	margin-bottom: 15px;

}

#blogH {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}

#contact {
/*	float: none;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	background-color: #d1dfdf;*/
}

#contactH {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
}


/*Media Queries*/

@media screen and (max-width: 600px) {
	.navWrapper a:not(:first-child) {display: none;}
	.navWrapper a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.navWrapper.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.navWrapper.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

/*@media screen and (max-width: 600px) {
	.column {
		width: 100%
	}
}*/